/*
Theme Name: Blueprint Child
Theme URI: https://github.com/davidklan-png/Dazbeez_HP
Description: Child theme for the Bluehost Blueprint theme
Author: davidklan-png
Author URI: https://github.com/davidklan-png
Template: blueprint
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: blueprint-child
*/

/* ===================================
   Child Theme Styles
   =================================== */

/* Add custom styles below */
